Repository Open-Study-College/osc, pull requests merged in 2022-11, with the labels that each got.

#447 Feature/sitemap
  packages/osc-ecommerce/app/queries/sanity/allPageSlugs.ts
  packages/osc-ecommerce/app/routes/robots[.]txt.ts
  packages/osc-ecommerce/app/routes/sitemap[.]xml.ts
Labels: studio, ecommerce

#554 Feature/auth microservice
  package.json
  packages/osc-api-auth/.env.example
  packages/osc-api-auth/package-lock.json
  packages/osc-api-auth/package.json
  packages/osc-api-auth/src/index.ts
  packages/osc-api-auth/src/resolvers/resolver.ts
  packages/osc-api-auth/src/schemas/schema.ts
  packages/osc-api-auth/src/server/index.ts
  packages/osc-api-auth/src/server/permissions.ts
  packages/osc-api-auth/src/server/rules.ts
  packages/osc-api-auth/src/types/arguments.ts
  packages/osc-api-auth/src/types/environment.ts
  packages/osc-api-auth/src/types/functions.ts
  packages/osc-api-auth/src/types/interfaces.ts
  packages/osc-api-auth/src/utils/account.ts
  packages/osc-api-auth/src/utils/password.ts
  packages/osc-api-auth/src/utils/token.ts
  packages/osc-api-auth/tsconfig.json
  packages/osc-api-gateway/package-lock.json
  packages/osc-api-gateway/package.json
  packages/osc-api-gateway/src/index.ts
  packages/osc-api-gateway/src/types/environment.d.ts
  packages/osc-api-gateway/src/types/express.d.ts
  packages/osc-api-gateway/tsconfig.json
  packages/osc-api/auth/index.ts
  packages/osc-api/auth/types.ts
  packages/osc-api/index.ts
  packages/osc-api/package.json
  packages/osc-api/user/index.ts
  packages/osc-api/user/types.ts
  packages/osc-api/utils/index.ts
  prisma/schema.prisma
Labels: microservice, gateway

#574 Refactor/set trailing commas to `es5`
  .prettierrc.json
Labels: enhancement

#572 Feature/skip link
  packages/osc-academic-hub/app/root.tsx
  packages/osc-academic-hub/e2e/smoke.spec.ts
  packages/osc-academic-hub/e2e/storageState.json
  packages/osc-academic-hub/playwright.config.ts
  packages/osc-ecommerce/app/root.tsx
  packages/osc-ecommerce/e2e/smoke.spec.ts
  packages/osc-ecommerce/e2e/storageState.json
  packages/osc-ecommerce/playwright.config.ts
  packages/osc-ui/package.json
  packages/osc-ui/src/components/SkipLink/SkipLink.spec.tsx
  packages/osc-ui/src/components/SkipLink/SkipLink.stories.tsx
  packages/osc-ui/src/components/SkipLink/SkipLink.tsx
  packages/osc-ui/src/components/SkipLink/skip-link.scss
  packages/osc-ui/src/components/VisuallyHidden/VisuallyHidden.spec.tsx
  packages/osc-ui/src/components/VisuallyHidden/VisuallyHidden.stories.tsx
  packages/osc-ui/src/components/VisuallyHidden/VisuallyHidden.tsx
  packages/osc-ui/src/index.tsx
Labels: academic hub, ui, ecommerce

#568 Refactor/update vitest environment
  package-lock.json
  packages/osc-academic-hub/package.json
  packages/osc-academic-hub/vitest.config.ts
  packages/osc-ecommerce/package.json
  packages/osc-ecommerce/vitest.config.ts
  packages/osc-ui/package.json
  packages/osc-ui/src/__mocks__/matchMedia.ts
  packages/osc-ui/src/components/Breadcrumb/Breadcrumb.spec.tsx
  packages/osc-ui/src/components/Carousel/Carousel.spec.tsx
  packages/osc-ui/src/components/Content/Content.spec.tsx
  packages/osc-ui/src/components/Footer/Footer.spec.tsx
  packages/osc-ui/src/components/Header/Header.spec.tsx
  packages/osc-ui/src/components/Image/Image.spec.tsx
  packages/osc-ui/src/components/List/List.spec.tsx
  packages/osc-ui/src/components/Modal/Modal.spec.tsx
  packages/osc-ui/src/components/Tabs/Tabs.spec.tsx
  packages/osc-ui/src/components/Tag/Tag.spec.tsx
  packages/osc-ui/src/components/Trustpilot/Trustpilot.spec.tsx
  packages/osc-ui/vite.config.ts
Labels: enhancement
