Repository Open-Study-College/osc, pull requests merged in 2023-02, with the labels that each got.

#693 fix: workflow fixes
  .github/actions/dockerBuild/action.yml
  .github/workflows/osc-studio-deploy.yml
  .github/workflows/osc-studio-pr-branches.yml
  .gitignore
  .nvmrc
  Dockerfiles/Dockerfile
  Dockerfiles/Dockerfile.pr
  Dockerfiles/Dockerfile.studio
  packages/osc-ecommerce/remix.env.d.ts
  packages/osc-studio/.env.sample.production
  packages/osc-studio/components/inputs/ColorPicker.tsx
  packages/osc-studio/package-lock.json
  packages/osc-studio/package.json
  packages/osc-studio/schemas/blocks/body.tsx
Labels: academic hub, studio, ecommerce, workflows

#685 Feature/spritesheet provider
  .storybook/preview.js
  packages/osc-academic-hub/app/entry.client.tsx
  packages/osc-academic-hub/app/entry.server.tsx
  packages/osc-academic-hub/app/root.tsx
  packages/osc-academic-hub/remix.config.js
  packages/osc-ecommerce/app/entry.client.tsx
  packages/osc-ecommerce/app/entry.server.tsx
  packages/osc-ui/src/components/Icon/Icon.spec.tsx
  packages/osc-ui/src/components/Icon/Icon.stories.tsx
  packages/osc-ui/src/components/Icon/Icon.tsx
  packages/osc-ui/src/components/Select/Select.spec.tsx
  packages/osc-ui/src/index.tsx
Labels: enhancement, academic hub, ui, ecommerce

#659 Feature/navbar
  package-lock.json
  package.json
  packages/osc-ui/package.json
  packages/osc-ui/src/components/Burger/Burger.spec.tsx
  packages/osc-ui/src/components/Burger/Burger.stories.tsx
  packages/osc-ui/src/components/Burger/Burger.tsx
  packages/osc-ui/src/components/Burger/burger.scss
  packages/osc-ui/src/components/Header/Header.spec.tsx
  packages/osc-ui/src/components/Header/Header.stories.tsx
  packages/osc-ui/src/components/Header/Header.tsx
  packages/osc-ui/src/components/Header/header.scss
  packages/osc-ui/src/components/Icon/Icon.tsx
  packages/osc-ui/src/components/Logo/Logo.stories.tsx
  packages/osc-ui/src/components/Logo/Logo.tsx
  packages/osc-ui/src/components/Logo/logo.scss
  packages/osc-ui/src/components/Navbar/Navbar.spec.tsx
  packages/osc-ui/src/components/Navbar/Navbar.stories.tsx
  packages/osc-ui/src/components/Navbar/Navbar.tsx
  packages/osc-ui/src/components/Navbar/navContent.ts
  packages/osc-ui/src/components/Navbar/navbar.scss
  packages/osc-ui/src/hooks/useInteractOutside.ts
  packages/osc-ui/src/hooks/useMediaQuery.ts
  packages/osc-ui/src/icons/logo.svg
  packages/osc-ui/src/index.tsx
  packages/osc-ui/src/styles/objects/_container.scss
  packages/osc-ui/src/styles/utilities/_util.scss
Labels: ui, Styles

#710 Bugfix/content unknown attributes
  packages/osc-ui/src/components/Content/Content.tsx
Labels: bug

#709 Refactor/types-maybe-generic
  packages/osc-ecommerce/app/components/Module.tsx
  packages/osc-ecommerce/app/types/sanity.ts
  packages/osc-ui/src/components/Content/Content.tsx
  packages/osc-ui/src/types.ts
Labels: enhancement

#687 Feature/video
  package-lock.json
  packages/osc-ecommerce/app/components/Module.tsx
  packages/osc-ecommerce/app/components/VideoPlayer/VideoPlayer.tsx
  packages/osc-ecommerce/app/queries/sanity/fragments/modules.ts
  packages/osc-ecommerce/app/queries/sanity/fragments/modules/video.ts
  packages/osc-ecommerce/app/types/sanity.ts
  packages/osc-studio/constants.js
  packages/osc-studio/schemas/objects/module/video.tsx
  packages/osc-studio/schemas/schema.ts
  packages/osc-ui/package.json
  packages/osc-ui/src/components/VideoPlayer/VideoPlayer.spec.tsx
  packages/osc-ui/src/components/VideoPlayer/VideoPlayer.stories.tsx
  packages/osc-ui/src/components/VideoPlayer/VideoPlayer.tsx
  packages/osc-ui/src/components/VideoPlayer/video-player.scss
  packages/osc-ui/src/hooks/useIntersectionObserver.ts
  packages/osc-ui/src/icons/play.svg
  packages/osc-ui/src/index.tsx
Labels: ui, studio, ecommerce

#714 Bugfix/xl modifiers not being applied to utility classes
  packages/osc-ui/src/styles/utilities/_util.scss
Labels: bug

#708 Feature/island grid
  packages/osc-ui/src/components/IslandGrid/IslandGrid.spec.tsx
  packages/osc-ui/src/components/IslandGrid/IslandGrid.stories.tsx
  packages/osc-ui/src/components/IslandGrid/IslandGrid.tsx
  packages/osc-ui/src/components/IslandGrid/island-grid.scss
Labels: ui, Styles

#718 Feature/container
  .github/workflows/codeball.yml
  packages/osc-ui/src/styles/objects/_container.scss
  packages/osc-ui/test.html
Labels: enhancement, Styles

#754 Bugfix/css layers on remix apps
  packages/osc-academic-hub/app/root.tsx
  packages/osc-ecommerce/app/root.tsx
Labels: bug, academic hub, ecommerce

#661 Feature/nav sanity
  package.json
  packages/osc-ecommerce/app/components/Header/Header.tsx
  packages/osc-ecommerce/app/components/Nav.tsx
  packages/osc-ecommerce/app/models/sanity.server.ts
  packages/osc-ecommerce/app/queries/sanity/fragments/buildUrls.ts
  packages/osc-ecommerce/app/queries/sanity/navigation.ts
  packages/osc-ecommerce/app/queries/sanity/settings.ts
  packages/osc-ecommerce/app/root.tsx
  packages/osc-ecommerce/app/types/sanity.ts
  packages/osc-ecommerce/e2e/navbar.spec.ts
  packages/osc-ecommerce/playwright.config.ts
  packages/osc-studio/desk/navigation.ts
  packages/osc-studio/deskStructure.js
  packages/osc-studio/schemas/documents/navigation.ts
  packages/osc-studio/schemas/objects/navigationItem.ts
  packages/osc-studio/schemas/objects/navigationLink.ts
  packages/osc-studio/schemas/schema.ts
  packages/osc-studio/schemas/singletons/settings.ts
  packages/osc-ui/src/components/Header/header.scss
  packages/osc-ui/src/components/Navbar/Navbar.tsx
  packages/osc-ui/src/index.tsx
Labels: studio, ecommerce, codeball:needs-careful-review
