Repository Open-Study-College/osc, pull requests merged in 2023-01, with the labels that each got.

#565 Feature/accordion component
  package-lock.json
  packages/osc-ecommerce/app/components/Accordion/Accordion.tsx
  packages/osc-ecommerce/app/components/Module.tsx
  packages/osc-ecommerce/app/queries/sanity/fragments/modules.ts
  packages/osc-ecommerce/app/queries/sanity/fragments/modules/accordion.ts
  packages/osc-ecommerce/app/root.tsx
  packages/osc-ecommerce/app/types/sanity.ts
  packages/osc-studio/constants.js
  packages/osc-studio/schemas/objects/accordionItem.ts
  packages/osc-studio/schemas/objects/module/accordion.ts
  packages/osc-studio/schemas/schema.ts
  packages/osc-studio/tsconfig.json
  packages/osc-studio/utils/joinWithAnd.ts
  packages/osc-ui/package.json
  packages/osc-ui/src/components/Accordion/Accordion.spec.tsx
  packages/osc-ui/src/components/Accordion/Accordion.stories.tsx
  packages/osc-ui/src/components/Accordion/Accordion.tsx
  packages/osc-ui/src/components/Accordion/accordion.scss
  packages/osc-ui/src/components/Content/Content.spec.tsx
  packages/osc-ui/src/components/Content/Content.tsx
  packages/osc-ui/src/index.tsx
  packages/osc-ui/src/styles/settings/_tokens.scss
  packages/osc-ui/src/styles/settings/_typography.scss
  tokens/typography.js
Labels: ui, studio, ecommerce

#660 Feature/crm api
  package.json
  packages/osc-api-auth/src/types/functions.ts
  packages/osc-api-auth/src/types/index.ts
  packages/osc-api-auth/src/utils/account.ts
  packages/osc-api-crm/.env.example
  packages/osc-api-crm/.gitignore
  packages/osc-api-crm/package.json
  packages/osc-api-crm/src/index.ts
  packages/osc-api-crm/src/resolvers/resolver.ts
  packages/osc-api-crm/src/schemas/schema.ts
  packages/osc-api-crm/src/server/index.ts
  packages/osc-api-crm/src/server/permissions.ts
  packages/osc-api-crm/src/server/rules.ts
  packages/osc-api-crm/src/types/arguments.ts
  packages/osc-api-crm/src/types/environment.ts
  packages/osc-api-crm/src/types/functions.ts
  packages/osc-api-crm/src/types/interfaces.ts
  packages/osc-api-crm/tsconfig.json
  packages/osc-api-gateway/package.json
  packages/osc-api-gateway/src/index.ts
  packages/osc-api-gateway/src/types/environment.ts
  packages/osc-api/package.json
  packages/osc-api/user/index.ts
  packages/osc-api/user/types.ts
  prisma/schema.prisma
Labels: microservice

#636 Feature/button styles
  .storybook/preview.js
  packages/osc-ecommerce/app/components/Module.tsx
  packages/osc-ecommerce/app/types/sanity.ts
  packages/osc-studio/schemas/objects/module/button.ts
  packages/osc-ui/src/components/Button/Button.spec.tsx
  packages/osc-ui/src/components/Button/Button.stories.tsx
  packages/osc-ui/src/components/Button/Button.tsx
  packages/osc-ui/src/components/Button/button.scss
  packages/osc-ui/src/components/Content/Content.spec.tsx
  packages/osc-ui/src/components/Content/Content.tsx
  packages/osc-ui/src/styles/settings/_tokens.scss
  packages/osc-ui/src/styles/settings/_typography.scss
  packages/osc-ui/tsconfig.lib.json
  packages/osc-ui/tsconfig.spec.json
  tokens/colors.js
  tokens/typography.js
Labels: ui, Styles

#643 Feature/content styles
  .prettierrc.json
  package-lock.json
  packages/osc-ecommerce/app/components/Module.tsx
  packages/osc-ecommerce/app/queries/sanity/fragments/modules/content.ts
  packages/osc-ecommerce/app/types/sanity.ts
  packages/osc-studio/components/inputs/ColorPicker.tsx
  packages/osc-studio/constants.js
  packages/osc-studio/package-lock.json
  packages/osc-studio/package.json
  packages/osc-studio/sanity.json
  packages/osc-studio/schemas/blocks/body.tsx
  packages/osc-studio/schemas/objects/colorPicker.ts
  packages/osc-studio/schemas/objects/module/content.ts
  packages/osc-studio/schemas/schema.ts
  packages/osc-ui/src/components/Accordion/accordion.scss
  packages/osc-ui/src/components/Content/Content.stories.tsx
  packages/osc-ui/src/components/Content/Content.tsx
  packages/osc-ui/src/components/Content/content.scss
  packages/osc-ui/src/components/Content/textContent.ts
  packages/osc-ui/src/components/List/List.tsx
  packages/osc-ui/src/styles/elements/_page.scss
  packages/osc-ui/src/styles/elements/_type.scss
  packages/osc-ui/src/styles/objects/_list.scss
  packages/osc-ui/src/styles/settings/_tokens.scss
  packages/osc-ui/src/styles/settings/_typography.scss
  packages/osc-ui/src/styles/typography/_font.scss
  packages/osc-ui/src/styles/utilities/_util.scss
  packages/osc-ui/src/types.ts
  tokens/fluid-scale.js
  tokens/typography.js
Labels: ui, studio, Styles

#649 Refactor/remove-react-fc
  package-lock.json
  packages/osc-academic-hub/app/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/osc-ecommerce/app/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/osc-ui/src/components/Alert/Alert.tsx
  packages/osc-ui/src/components/Avatar/Avatar.tsx
  packages/osc-ui/src/components/Badge/Badge.tsx
  packages/osc-ui/src/components/Breadcrumb/Breadcrumb.tsx
  packages/osc-ui/src/components/Carousel/Carousel.tsx
  packages/osc-ui/src/components/Carousel/CarouselDots.tsx
  packages/osc-ui/src/components/Content/Content.tsx
  packages/osc-ui/src/components/CountdownClock/CountdownClock.tsx
  packages/osc-ui/src/components/CountdownClock/CountdownClockInner.tsx
  packages/osc-ui/src/components/DropdownMenu/DropdownMenu.tsx
  packages/osc-ui/src/components/Footer/Footer.tsx
  packages/osc-ui/src/components/Header/Header.tsx
  packages/osc-ui/src/components/Icon/Icon.tsx
  packages/osc-ui/src/components/Image/Image.tsx
  packages/osc-ui/src/components/ImageGallery/ImageGallery.tsx
  packages/osc-ui/src/components/List/List.tsx
  packages/osc-ui/src/components/Modal/Modal.tsx
  packages/osc-ui/src/components/Popover/Popover.tsx
  packages/osc-ui/src/components/SkipLink/SkipLink.tsx
  packages/osc-ui/src/components/Switch/Switch.tsx
  packages/osc-ui/src/components/Tabs/Tabs.tsx
  packages/osc-ui/src/components/Tag/Tag.tsx
  packages/osc-ui/src/components/VisuallyHidden/VisuallyHidden.tsx
Labels: enhancement

#648 Feature/icons
  .storybook/main.js
  packages/osc-ecommerce/app/root.tsx
  packages/osc-ecommerce/remix.config.js
  packages/osc-studio/components/inputs/IconPicker.tsx
  packages/osc-studio/static/spritesheet.svg
  packages/osc-ui/bin/rollup-plugin-createSpritesheet.js
  packages/osc-ui/package.json
  packages/osc-ui/rollup.config.js
  packages/osc-ui/src/components/Icon/Icon.spec.tsx
  packages/osc-ui/src/components/Icon/Icon.stories.tsx
  packages/osc-ui/src/components/Icon/Icon.tsx
  packages/osc-ui/src/components/Tag/Tag.tsx
  packages/osc-ui/src/icons/arrow.svg
  packages/osc-ui/src/icons/assessment.svg
  packages/osc-ui/src/icons/bag.svg
  packages/osc-ui/src/icons/bell.svg
  packages/osc-ui/src/icons/bookmark.svg
  packages/osc-ui/src/icons/calendar.svg
  packages/osc-ui/src/icons/check.svg
  packages/osc-ui/src/icons/chevron-down.svg
  packages/osc-ui/src/icons/chevron-left.svg
  packages/osc-ui/src/icons/chevron-right.svg
  packages/osc-ui/src/icons/chevron-up.svg
  packages/osc-ui/src/icons/clipboard.svg
  packages/osc-ui/src/icons/clock.svg
  packages/osc-ui/src/icons/close.svg
  packages/osc-ui/src/icons/content.svg
  packages/osc-ui/src/icons/dashboard.svg
  packages/osc-ui/src/icons/discussion.svg
  packages/osc-ui/src/icons/document.svg
  packages/osc-ui/src/icons/envelope.svg
  packages/osc-ui/src/icons/folder.svg
  packages/osc-ui/src/icons/gear.svg
  packages/osc-ui/src/icons/graduation-cap.svg
  packages/osc-ui/src/icons/grid.svg
  packages/osc-ui/src/icons/heart.svg
  packages/osc-ui/src/icons/list.svg
  packages/osc-ui/src/icons/minus.svg
  packages/osc-ui/src/icons/paper-plane.svg
  packages/osc-ui/src/icons/payments.svg
  packages/osc-ui/src/icons/phone.svg
  packages/osc-ui/src/icons/plus.svg
  packages/osc-ui/src/icons/search.svg
  packages/osc-ui/src/icons/star.svg
  packages/osc-ui/src/icons/tasks.svg
  packages/osc-ui/src/icons/tick-box.svg
  packages/osc-ui/src/icons/user.svg
  packages/osc-ui/src/icons/users.svg
  packages/osc-ui/src/styles/main.scss
  packages/osc-ui/src/styles/objects/_icon.scss
Labels: ui, ecommerce
