Repository Open-Study-College/osc, pull requests merged in 2023-03, with the labels that each got.

#757 Feature/o-page
  packages/osc-ecommerce/app/root.tsx
  packages/osc-ui/src/styles/main.scss
  packages/osc-ui/src/styles/objects/_page.scss
Labels: enhancement, ecommerce, Styles

#755 Feature/react testing library custom renderer utility
  packages/osc-ui/__test__/test-utils.tsx
  packages/osc-ui/src/components/Accordion/Accordion.spec.tsx
  packages/osc-ui/src/components/Breadcrumb/Breadcrumb.spec.tsx
  packages/osc-ui/src/components/Button/Button.spec.tsx
  packages/osc-ui/src/components/Content/Content.spec.tsx
  packages/osc-ui/src/components/DatePicker/DatePicker/DatePicker.spec.tsx
  packages/osc-ui/src/components/DatePicker/DateRangePicker/DateRangePicker.spec.tsx
  packages/osc-ui/src/components/Header/Header.spec.tsx
  packages/osc-ui/src/components/Navbar/Navbar.spec.tsx
  packages/osc-ui/src/components/Select/Select.spec.tsx
  packages/osc-ui/src/components/TextArea/TextArea.spec.tsx
  packages/osc-ui/src/components/VideoPlayer/VideoPlayer.spec.tsx
  packages/osc-ui/tsconfig.spec.json
  packages/osc-ui/vite.config.ts
Labels: enhancement

#664 Feature/cards components
  packages/osc-studio/constants.js
  packages/osc-studio/desk/team.ts
  packages/osc-studio/deskStructure.js
  packages/osc-studio/schemas/blocks/bodyNoHeadings.tsx
  packages/osc-studio/schemas/documents/team.tsx
  packages/osc-studio/schemas/objects/module/cardBio.ts
  packages/osc-studio/schemas/objects/module/cardCollection.ts
  packages/osc-studio/schemas/objects/module/cardCourse.ts
  packages/osc-studio/schemas/objects/module/cardPost.ts
  packages/osc-studio/schemas/objects/module/cardStatic.ts
  packages/osc-studio/schemas/objects/module/cards.ts
  packages/osc-studio/schemas/schema.ts
  packages/osc-ui/src/components/Button/Button.tsx
  packages/osc-ui/src/components/Card/BlogCard.stories.tsx
  packages/osc-ui/src/components/Card/Card.spec.tsx
  packages/osc-ui/src/components/Card/Card.stories.tsx
  packages/osc-ui/src/components/Card/Card.tsx
  packages/osc-ui/src/components/Card/CollectionCard.stories.tsx
  packages/osc-ui/src/components/Card/CourseCard.stories.tsx
  packages/osc-ui/src/components/Card/card.scss
  packages/osc-ui/src/components/Card/cardData.ts
  packages/osc-ui/src/components/Popover/Popover.tsx
  packages/osc-ui/src/hooks/useElementSize.ts
  packages/osc-ui/src/icons/heart.svg
  packages/osc-ui/src/icons/warning.svg
  packages/osc-ui/src/index.tsx
  packages/osc-ui/src/styles/settings/_animation.scss
  packages/osc-ui/src/styles/utilities/_util.scss
  packages/osc-ui/src/types.ts
  packages/osc-ui/src/utils/truncate.spec.ts
  packages/osc-ui/src/utils/truncate.ts
Labels: ui, Styles, codeball:needs-careful-review

#716 Feature/footer component
  packages/osc-ui/src/components/Footer/Footer.spec.tsx
  packages/osc-ui/src/components/Footer/Footer.stories.tsx
  packages/osc-ui/src/components/Footer/Footer.tsx
  packages/osc-ui/src/components/Footer/footer.scss
  packages/osc-ui/src/components/Footer/footerContent.ts
  packages/osc-ui/src/icons/facebook.svg
  packages/osc-ui/src/icons/instagram.svg
  packages/osc-ui/src/icons/linkedIn.svg
  packages/osc-ui/src/icons/pinterest.svg
  packages/osc-ui/src/icons/tiktok.svg
  packages/osc-ui/src/icons/twitter.svg
Labels: ui, Styles, codeball:needs-careful-review

#691 Feature/hero component
  packages/osc-ecommerce/app/components/Hero/Hero.spec.tsx
  packages/osc-ecommerce/app/components/Hero/Hero.tsx
  packages/osc-ecommerce/app/components/Hero/mockHeroData.tsx
  packages/osc-ecommerce/app/components/Module.tsx
  packages/osc-ecommerce/app/queries/sanity/fragments/carouselSettings.ts
  packages/osc-ecommerce/app/queries/sanity/fragments/hero.ts
  packages/osc-ecommerce/app/queries/sanity/fragments/modules.ts
  packages/osc-ecommerce/app/queries/sanity/fragments/modules/hero.ts
  packages/osc-ecommerce/app/routes/$slug.tsx
  packages/osc-ecommerce/app/types/sanity.ts
  packages/osc-studio/constants.js
  packages/osc-studio/schemas/objects/carouselSettings.ts
  packages/osc-studio/schemas/objects/heroCarouselSettings.ts
  packages/osc-studio/schemas/objects/heroSlide.ts
  packages/osc-studio/schemas/objects/module/button.ts
  packages/osc-studio/schemas/objects/module/carousel.ts
  packages/osc-studio/schemas/objects/module/content.ts
  packages/osc-studio/schemas/objects/module/hero.ts
  packages/osc-studio/schemas/schema.ts
  packages/osc-ui/src/components/Carousel/Carousel.spec.tsx
  packages/osc-ui/src/components/Carousel/Carousel.stories.tsx
  packages/osc-ui/src/components/Carousel/Carousel.tsx
  packages/osc-ui/src/components/Content/Content.tsx
  packages/osc-ui/src/components/Hero/Hero.spec.tsx
  packages/osc-ui/src/components/Hero/Hero.stories.tsx
  packages/osc-ui/src/components/Hero/Hero.tsx
  packages/osc-ui/src/components/Hero/hero.scss
  packages/osc-ui/src/index.tsx
  packages/osc-ui/src/styles/objects/_container.scss
  packages/osc-ui/src/types.ts
  packages/osc-ui/src/utils/getFocusableElements.ts
Labels: ui, studio, ecommerce, Styles, codeball:needs-careful-review

#668 Feature/cards studio
  packages/osc-ecommerce/app/components/Button/Button.tsx
  packages/osc-ecommerce/app/components/Cards/BioCard.tsx
  packages/osc-ecommerce/app/components/Cards/BlogCard.tsx
  packages/osc-ecommerce/app/components/Cards/Cards.spec.tsx
  packages/osc-ecommerce/app/components/Cards/Cards.tsx
  packages/osc-ecommerce/app/components/Cards/CollectionCard.tsx
  packages/osc-ecommerce/app/components/Cards/CourseCard.tsx
  packages/osc-ecommerce/app/components/Cards/SimpleCard.tsx
  packages/osc-ecommerce/app/components/Cards/mockCardData.ts
  packages/osc-ecommerce/app/components/Module.tsx
  packages/osc-ecommerce/app/queries/sanity/fragments/modules.ts
  packages/osc-ecommerce/app/queries/sanity/fragments/modules/card.ts
  packages/osc-ecommerce/app/types/sanity.ts
  packages/osc-studio/schemas/objects/carouselSettings.ts
  packages/osc-studio/schemas/objects/module/cardCollection.ts
  packages/osc-studio/schemas/objects/module/cardPost.ts
  packages/osc-studio/schemas/objects/module/cardStatic.ts
  packages/osc-studio/schemas/objects/module/cards.ts
  packages/osc-ui/src/components/Card/BlogCard.stories.tsx
  packages/osc-ui/src/components/Card/Card.tsx
  packages/osc-ui/src/components/Card/card.scss
  packages/osc-ui/src/components/Carousel/Carousel.tsx
  packages/osc-ui/src/components/IslandGrid/IslandGrid.tsx
  packages/osc-ui/src/index.tsx
  packages/osc-ui/src/styles/utilities/_util.scss
  packages/osc-ui/src/utils/formatDate.spec.ts
  packages/osc-ui/src/utils/formatDate.ts
Labels: studio, ecommerce, codeball:needs-careful-review

#767 Feature/footer studio
  packages/osc-ecommerce/app/components/Footer/Footer.spec.tsx
  packages/osc-ecommerce/app/components/Footer/Footer.tsx
  packages/osc-ecommerce/app/components/Footer/mockFooterData.ts
  packages/osc-ecommerce/app/queries/sanity/settings.ts
  packages/osc-ecommerce/app/root.tsx
  packages/osc-ecommerce/app/types/sanity.ts
  packages/osc-studio/components/inputs/IconPicker.tsx
  packages/osc-studio/schemas/objects/social.tsx
  packages/osc-studio/schemas/schema.ts
  packages/osc-studio/schemas/singletons/settings.ts
  packages/osc-studio/static/spritesheet.svg
  packages/osc-ui/src/components/Footer/Footer.stories.tsx
  packages/osc-ui/src/components/Footer/Footer.tsx
  packages/osc-ui/src/components/Footer/footer.scss
  packages/osc-ui/src/icons/facebook.svg
  packages/osc-ui/src/icons/instagram.svg
  packages/osc-ui/src/icons/linkedIn.svg
  packages/osc-ui/src/icons/pinterest.svg
  packages/osc-ui/src/icons/tiktok.svg
  packages/osc-ui/src/icons/twitter.svg
  packages/osc-ui/src/index.tsx
Labels: studio, ecommerce, codeball:needs-careful-review

#686 Feature/academic hub setup
  packages/osc-academic-hub/app/lib/apollo/getClient.server.ts
  packages/osc-academic-hub/app/models/user.server.ts
  packages/osc-academic-hub/app/root.tsx
  packages/osc-academic-hub/app/routes/admin/index.tsx
  packages/osc-academic-hub/app/routes/courses.tsx
  packages/osc-academic-hub/app/routes/courses/$id.tsx
  packages/osc-academic-hub/app/routes/dashboard.tsx
  packages/osc-academic-hub/app/routes/invoices.tsx
  packages/osc-academic-hub/app/routes/login.tsx
  packages/osc-academic-hub/app/routes/preferences.tsx
  packages/osc-academic-hub/app/routes/profile.tsx
  packages/osc-academic-hub/app/routes/profile/additional-info.tsx
  packages/osc-academic-hub/app/routes/profile/courses.tsx
  packages/osc-academic-hub/app/routes/profile/details.tsx
  packages/osc-academic-hub/app/routes/register.tsx
  packages/osc-academic-hub/app/routes/reports.tsx
  packages/osc-academic-hub/app/routes/reset-password.tsx
  packages/osc-academic-hub/app/routes/student-list.tsx
  packages/osc-academic-hub/app/routes/student-record.tsx
  packages/osc-academic-hub/app/routes/tutor-allocation.tsx
  packages/osc-academic-hub/app/session.server.ts
  packages/osc-academic-hub/package.json
Labels: academic hub, codeball:needs-careful-review

#758 Bugfix/Dots and arrows missing from carousel
  packages/osc-ui/src/components/Carousel/carousel.scss
Labels: bug, Styles, codeball:needs-careful-review

#763 Bugfix/loading dynamic stylesheets
  packages/osc-academic-hub/app/root.tsx
  packages/osc-ecommerce/app/components/Module.tsx
  packages/osc-ecommerce/app/models/sanity.server.ts
  packages/osc-ecommerce/app/root.tsx
  packages/osc-ecommerce/app/routes/blog/$slug.tsx
  packages/osc-ecommerce/app/routes/blog/index.tsx
  packages/osc-ecommerce/app/routes/collections/$slug.tsx
  packages/osc-ecommerce/app/routes/index.tsx
  packages/osc-ecommerce/app/routes/products/$slug.tsx
Labels: bug, academic hub, ecommerce, codeball:needs-careful-review

#770 Refactor/cards height
  packages/osc-ui/src/components/Card/card.scss
Labels: bug, ui, Styles

#784 Feature/add icon picker to button
  packages/osc-ecommerce/app/components/Button/Button.tsx
  packages/osc-ecommerce/app/types/sanity.ts
  packages/osc-studio/schemas/objects/module/button.ts
  packages/osc-ui/src/components/Content/Content.tsx
Labels: ui, studio, ecommerce, codeball:needs-careful-review

#788 Bugfix/carousel height
  packages/osc-ui/src/components/Carousel/carousel.scss
Labels: bug, ui, Styles, codeball:needs-careful-review

#719 Feature/callout banner
  packages/osc-ui/src/components/CalloutBanner/CalloutBanner.spec.tsx
  packages/osc-ui/src/components/CalloutBanner/CalloutBanner.stories.tsx
  packages/osc-ui/src/components/CalloutBanner/CalloutBanner.tsx
  packages/osc-ui/src/components/CalloutBanner/callout-banner.scss
  packages/osc-ui/src/styles/typography/_font.scss
  packages/osc-ui/src/styles/utilities/_util.scss
Labels: ui, Styles, codeball:needs-careful-review

#795 Feature/design tokens vite
  package-lock.json
  package.json
  packages/osc-design-tokens/index.js
  packages/osc-design-tokens/package.json
  packages/osc-design-tokens/vite.config.js
  packages/osc-studio/components/inputs/ColorPicker.tsx
  packages/osc-studio/schemas/blocks/body.tsx
  packages/osc-ui/package.json
  packages/osc-ui/rollup.config.js
Labels: studio, Styles, codeball:needs-careful-review

#769 Refactor/island grid items positioning
  packages/osc-ui/src/components/Card/card.scss
  packages/osc-ui/src/components/IslandGrid/IslandGrid.stories.tsx
  packages/osc-ui/src/components/IslandGrid/IslandGrid.tsx
  packages/osc-ui/src/components/IslandGrid/island-grid.scss
Labels: bug, ui, Styles, codeball:needs-careful-review

#794 Feature/Integrate hydrogen with osc-ecommerce
  .github/actions/dockerBuild/action.yml
  .github/workflows/osc-ecommerce-deploy.yml
  .github/workflows/osc-ecommerce-pr-branches.yml
  Dockerfiles/Dockerfile
  Dockerfiles/Dockerfile.pr
  README.md
  package-lock.json
  packages/osc-academic-hub/package.json
  packages/osc-ecommerce/.graphqlrc.yml
  packages/osc-ecommerce/app/queries/shopify/collection.ts
  packages/osc-ecommerce/app/queries/shopify/collections.ts
  packages/osc-ecommerce/app/queries/shopify/product.ts
  packages/osc-ecommerce/app/root.tsx
  packages/osc-ecommerce/app/routes/admin/index.tsx
  packages/osc-ecommerce/app/routes/cart.tsx
  packages/osc-ecommerce/app/routes/collections/$slug.tsx
  packages/osc-ecommerce/app/routes/collections/index.tsx
  packages/osc-ecommerce/app/routes/graphiql.tsx
  packages/osc-ecommerce/app/routes/index.tsx
  packages/osc-ecommerce/app/routes/products/$slug.tsx
  packages/osc-ecommerce/app/routes/robots[.]txt.ts
  packages/osc-ecommerce/app/types/shopify.ts
  packages/osc-ecommerce/package.json
  packages/osc-ecommerce/remix.config.js
  packages/osc-ecommerce/remix.env.d.ts
  packages/osc-ecommerce/server.ts
  packages/osc-ecommerce/tsconfig.server.json
  packages/osc-ui/package.json
Labels: ecommerce, codeball:needs-careful-review

#786 Feature/algolia autocomplete v2
  .github/workflows/chromatic.yml
  package-lock.json
  packages/osc-ui/bin/rollup-plugin-createSpritesheet.js
  packages/osc-ui/package.json
  packages/osc-ui/src/components/Autocomplete/Autocomplete.spec.tsx
  packages/osc-ui/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/osc-ui/src/components/Autocomplete/Autocomplete.tsx
  packages/osc-ui/src/components/Autocomplete/autocomplete.scss
  packages/osc-ui/src/components/Autocomplete/components/Highlight.tsx
  packages/osc-ui/src/components/Autocomplete/components/Templates.tsx
  packages/osc-ui/src/components/Autocomplete/plugins/popularCoursesPlugin.tsx
  packages/osc-ui/src/components/Autocomplete/plugins/recentSearchesPlugin.tsx
  packages/osc-ui/src/components/Autocomplete/utils/debounced.ts
  packages/osc-ui/src/components/TextInput/TextInput.stories.tsx
  packages/osc-ui/src/components/TextInput/TextInput.tsx
  packages/osc-ui/src/components/TextInput/text-input.scss
  packages/osc-ui/src/icons/close.svg
  packages/osc-ui/src/styles/generic/_reset.scss
  packages/osc-ui/vite.config.ts
Labels: enhancement, ui, codeball:needs-careful-review

#809 Feature: Algolia Workflows
  .github/actions/dockerBuild/action.yml
  .github/workflows/osc-academic-hub-deploy.yml
  .github/workflows/osc-academic-hub-pr-branches.yml
  .github/workflows/osc-ecommerce-deploy.yml
  .github/workflows/osc-ecommerce-pr-branches.yml
  Dockerfiles/Dockerfile
  Dockerfiles/Dockerfile.pr
  Dockerfiles/Dockerfile.studio
  README.md
  packages/osc-ecommerce/app/routes/search/index.tsx
  packages/osc-ui/src/components/Autocomplete/Autocomplete.spec.tsx
  packages/osc-ui/src/index.tsx
Labels: codeball:needs-careful-review

#777 Bugfix/duplicate stylesheets
  packages/osc-ecommerce/app/components/Module.tsx
  packages/osc-ecommerce/app/root.tsx
  packages/osc-ecommerce/app/utils/getUniqueObjects.spec.ts
  packages/osc-ecommerce/app/utils/getUniqueObjects.ts
Labels: bug, ecommerce, codeball:needs-careful-review
